@page "/"

<PageTitle>Webshop Home</PageTitle>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        
        <div class=" welcome_style mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <h1> Leiras/udvozlo szoveg </h1>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <h6 align="center"> Tenyleges szoveg </h6>
        </div>

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            <h3>Termekkategoria1</h3>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            <h3>Termekkategoria2</h3>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            <h3>Termekkategoria3</h3>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            <h3>Termekkategoria4</h3>
        </div>

    </div>
</div>
