@page "/icecream"

<PageTitle>Ice Cream</PageTitle>

<MatCard class="mat_card">
    <MatCardContent>
        <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
        <div class="mat_card_content">
            <MatHeadline6 class="mat_card_clean_margin">
                Our Changing Planet
            </MatHeadline6>
            <MatSubtitle2 class="mat_card_clean_margin">
                by Kurt Wagner
            </MatSubtitle2>
        </div>

        <MatBody2 class="mat_card_content mat_card_clean_margin">
            Visit ten places on our planet that are undergoing the biggest changes today.
        </MatBody2>
    </MatCardContent>
    <MatCardActions>
        <MatCardActionButtons>
            <MatButton>Read</MatButton>
            <MatButton>Bookmark</MatButton>
        </MatCardActionButtons>

        <MatCardActionIcons>
            <MatIconButton Icon="favorite"></MatIconButton>
            <MatIconButton Icon="dashboard"></MatIconButton>
        </MatCardActionIcons>
    </MatCardActions>
</MatCard>

@code {

}
