@page "/icecream"

<PageTitle>Ice Cream</PageTitle>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">


        <div class="filters mat-layout-grid-cell mat-layout-grid-cell-span-2">
            <h5>Filters</h5>
        </div>


        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-10">

            <h1>Ice Creams</h1>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-10">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatCard class="demo-mat-card">
                            <MatCardContent>
                                <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
                                <div class="demo-mat-card-content">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Our Changing Planet
                                    </MatHeadline6>
                                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                                        by Kurt Wagner
                                    </MatSubtitle2>
                                </div>

                                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                    Visit ten places on our planet that are undergoing the biggest changes today.
                                </MatBody2>
                            </MatCardContent>
                        </MatCard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
