@* Log in page *@
@page "/login"

@inject NavigationManager NavManager

<PageTitle>Log In</PageTitle>

<div align="center">

    @* Label *@
    <MatH1>
        Log In 
    </MatH1>
    @* Input fields for username and password *@
    <MatTextField @bind-Value="@username" Label="Username"></MatTextField>
    <br />
    <MatTextField @bind-Value="@password" Label="Password" Type="password"></MatTextField>
    <br />
    <br />
    @* Log in button *@
    <MatButton OnClick="@loginOnClick" Outlined="true">Log in</MatButton>

    <br />
    <br />

    @* Sign up button *@
    <MatBody2> Don't have an account yet?</MatBody2>
    <MatButtonLink Href="/signup">Sign up!</MatButtonLink>

    @* Snackbar in case of an invalid username or password *@
    <MatSnackbar @bind-IsOpen="@snackBarIsOpen">
        <MatSnackbarContent>Wrong username or password</MatSnackbarContent>
    </MatSnackbar>

</div>
